{% extends "layout.html" %}

{% block content %}
  
  
  <div class="row">
    <div class="col-md-3">
      <br/>
      <h2>CLIP ai will find Big Bang members in the video and CLIP for you</h2> 
      <div class='center-div'>
        <div id="ytplayer"></div>
      </div>
      <br/>
      <div class='center-button'>
        <button id='clip-video' class = 'button4'>Clip Video</button><br/>
        <button id='clip-image' class="button4">Clip Images</button>
      </div>
    </div>

      <!-- display video here -->
    <div class = "videobox">
      <h2>CLIP ai has clipped video of G-Dragon!</h2>
        <div class='center-div'>
        <p>
          <video width="640" height="480" controls>
          <source src="test_2_gd.mp4" type='video/mp4'>
          Sorry, requested services is not ready at this point
          </video>
        </p>
      </div>
    </div>

      <!-- display images here -->
  	<div class = "imagebox">
      <h2>CLIP ai has clipped images of G-Dragon!</h2>
      
      {% for image in imageList %}
  		<div class= "clip-image">
        <div class='center-div'>
        <img id = 'clip-img' src={{image.url}}>
  			<span>{{image.info}}</span>
        </div>
  		</div>
      <br/>
  	</div>

      {% endfor %}
      

  </div>
  
{% endblock %}