<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLIP | Smart Curator of Video Clips</title>

    <link rel = "shortcut icon" href = "/images/clip.png">
    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Wrap all page content here -->

      <!-- Fixed navbar -->
      
    <div class = 'header'>
      <img src = './images/clip.png'>
      <h3> New Era of EnterTech </h3>
    </div>
    <div id="wrap">

    <div id='img-block'></div>
      <!-- Begin page content -->
      <div class="container">
        {% block content %}Welcome to CLIP ai{% endblock %}
      </div> <!-- end container -->
      
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">CLIP AI, Kate HK Yun</p>
      </div>
    </div>

  <script src='index.js'></script>
    
  </body>
</html>